.fa-extend {
    background-repeat: no-repeat !important;
    background-position: 50% center;
    background-size: 70%;
}


.orcid-logo {
    background-image: url(../img/orcid-logo.png);
}

.grnet-logo {
    background-image: url(../img/grnet.png);
}

.login-pf {
    background: whitesmoke !important;
}

.login-pf body {
    background: whitesmoke !important;
}


.horizontal-padding-10 {
    padding-left:10px;
    padding-right:10px;
}

.corner-ribbon {
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    z-index: 1000;
}

.wayf-spinner-container{
    width:0px;
    height:0px;
    position: relative;
    top: 50%;
    left: 50%;
}

.wayf-spinner{
    position: relative;
    transform: translate(-50%, -50%);
}

.hidden {
    display: none;
}

/* Enhance the listing of IdPs (scrollbar, borderless items) */

input[type=text] {
  padding: 5px 15px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.card-pf {
    border-radius: 10px;
    max-width: 800px !important
}

#kc-header-wrapper{
    padding:unset;
}

#kc-providers-list {
    scrollbar-width: thin;
}

#kc-providers-list::-webkit-scrollbar {
    width: 8px;
}

#kc-providers-list::-webkit-scrollbar-track {
    background-color: white;
}

#kc-providers-list::-webkit-scrollbar-thumb {
    #background-color: rgb(179, 204, 255);
    background-color: rgb(204, 204, 204);
    border-radius:5px;
}

.pf-c-button.pf-m-control {
    #border: solid 0px;
    border: 0px;
    border-color: transparent !important;
}

.pf-c-button.pf-m-control::after {
    --pf-c-button--BorderWidth: 0px !important;
    --pf-c-button--BorderColor: transparent !important;
}

.li-disc{
  list-style-type: disc;
  padding: 3px 0 !important;
  font-size: larger !important;
}

.ul-margins-paddings {
    margin-bottom: 10px !important;
    padding-left: 30px !important;
}

#kc-page-title > img {
    max-height: 90px;
}