.fa-extend {
    background-repeat: no-repeat !important;
    background-position: 50% center;
    background-size: 70%;
}

/*
.orcid-logo {
    background-image: url(../img/orcid-logo.png);
}
*/

div.kc-logo-text {
    background-image: var(--logo-image);
    height: 100px;
    width: 210px;
}

.login-pf body {
    background: whitesmoke !important;
}

:root {
  --logo-image: url('');
}